body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0; background: #eecfd0
   url(black_goose.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background-color: #3fb0ac;
  border-bottom: 1px solid #fff;
  margin-top: 30px;
  font: bold 2em  'Lobster', cursive;
  font-size: 2em;
  text-shadow: .1em .1em .2em gray;  color: #fae596;
}

a:link {
	  color: #256865;
}
a:visited {
	color: #fff;
}
 a:hover {
	color: #3fb0ac;
	background-color: #fff;
}
a:active {
	color: #92D4F4;
	background-color: #fff;

}
  dt { color: #256865;
  font-weight: bold;
}
h1 {  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;  color: #256865;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;  color: #173e43;
}

strong {color: #fae596;
  font-style: bold;
}
ul {margin-top: 0;
padding: 3em 1em 2em 1em;
text-align: center;list-style-type: none;
background-color: #dd9598;
margin: 0 ; padding: 0; word-spacing: 2em;

}

h2 + p {
  text-align: center;
  font-style: normal;
}
footer {text-align: center;}
